{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% if posts%}	
	<div class="container mt-4">
		<div class="row justify-content-center">
			<div class="col col-md-12 col-lg-9">
				<div class="card shadow-lg p-3 mb-5 bg-white rounded">
					<div class="card-header"><h3>Tracking del pedido N# {{posts.orden_pedido}}</h3></div>

					<div class="card-body">

					{% if posts.fecha_ingreso and posts.fecha_taller == null and posts.fecha_egreso == null%}

							<div class="alert alert-info" role="alert">
								Recibido
							</div>


						{% elif posts.fecha_ingreso and posts.fecha_taller and posts.fecha_egreso == null%}

							<div class="alert alert-warning" role="alert">
								En Proceso
							</div>


						{% elif posts.fecha_ingreso and posts.fecha_taller and posts.fecha_egreso%}

							<div class="alert alert-success">
							    Terminado
							</div>

						{% endif %}

						<h5>
						  Nombre del cliente:
						  <small class="text-muted">{{posts.persona.nombre}} {{posts.persona.apellido}}</small>
						</h5>

						<br>

						<h5>
							 Fecha de ingreso:
							 <small class="text-muted">{{posts.fecha_ingreso}}</small>
						</h5>

						<br>

						{% if posts.fecha_taller %}

							<h5>
								fecha de ingreso al taller:
								<small class="text-muted">{{posts.fecha_taller}}</small>
							</h5>

						{% else %}

							<h5>
								fecha de ingreso al taller:
								<small class="text-muted">--/--/--</small>
							</h5>

						{% endif %}

						<br>

						{% if posts.fecha_egreso %}

							<h5>
								fecha de Egreso:
								<small class="text-muted">{{posts.fecha_egreso}}</small>
							</h5>

						{% else %}

							<h5>
								fecha de Egreso:
								<small class="text-muted">--/--/--</small>
							</h5>

						{% endif %}

						<br>
						
						<h5>Partes de la factura.</h5>
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">Nombre de la parte</th>
											<th scope="col">Serial de la parte</th>
											<th scope="col">Garantia</th>
										</tr>
									</thead>

									<tbody>
										{% for parte in posts.partes.all%}

										<tr>
									  		<td>
									   			{{parte.tipo_parte}}
											</td>

									  		<td>
									   			{{parte.serial_parte}}
									   		</td>

									   		<td>
									   			{% if parte.if_garantia == True %}
									   				<div class="alert alert-success" role="alert">
														<p>Activa</p>
													</div>
									   			{% endif %}

									   			{% if parte.if_garantia == False %}
									   				<div class="alert alert-danger" role="alert">
														<p>Inactiva</p>
													</div>
									   			{% endif %}
									   		</td>

										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}

{% endblock %}