{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
	<div class="row justify-content-center">
		<div class="col col-md-12 col-lg-6" >
			<div class="card">
				<div class="card-body">
					<h2>Set you new password.</h2>

					<form method="post">
						{% csrf_token %}
						{{ form|crispy }}
						<button type="submit" class="btn btn-primary">Cambiar contrasena</button>
						<a href="{% url 'admin_home' %}" class="btn btn-secondary">regresar</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}