{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
	<div class="row justify-content-center">
		<div class="col col-md-12 col-lg-12" >
			<div class="card bg-light mb-3">
			  <div class="card-header text-white bg-success">your password has been changed with successful</div>
			  <div class="card-body">
			    <p class="card-text">you can enter into the administration home page you can go to the login page using this <a href="{% url 'login' %}">Login.</a></p>
			  </div>
		</div>
	</div>
</div>
{% endblock %}